@model WEB.ViewModels.ProductViewModel
@using WEB.Interfaces;
@inject IGenericRepository<Category> categoryRepository;
@{
    ViewData["Title"] = "Create Product";
}

<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Add New</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="dashboard" asp-controller="Products" asp-action="index">Products</a></li>
            <li class="breadcrumb-item active">Add New</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="post" asp-area="dashboard" asp-controller="Products" asp-action="Create">
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Product Name">
                            </div>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                            <label>Description</label>
                            <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                            </div>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                            <label>Price</label>
                            <input asp-for="Price" type="text" class="form-control" placeholder="Product Price">
                            </div>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                            <label>Offer Price(optional)</label>
                            <input value="0.0" asp-for="OfferPrice" type="text" class="form-control" placeholder="Offer Price">
                            </div>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                            <label>Start Offer at(optional)</label>
                            <input value="1/1/0001 12:00:00 AM" asp-for="StartOfferAt" type="text" class="form-control" placeholder="type time">
                            </div>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                            <label>End offer At(optional)</label>
                            <input value="1/1/0001 12:00:00 AM" asp-for="EndOfferAt" type="text" class="form-control" placeholder="type time">
                            </div>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                            <label>Quantity</label>
                            <input asp-for="Quantity" type="text" class="form-control" placeholder="type number">
                            </div>
                        </div>
                        <div class="card-body" style="padding:10px">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" name="CategoryId">
                                    <option>Select Category</option>
                                    @foreach(var item in await categoryRepository.GetItemsAsync())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Add New</button>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
