@model List<WEB.Models.Product>;

@if(Model.Count() > 0)
{
   <div class="tab-pane p-0 fade" id="products-sale-tab" role="tabpanel" aria-labelledby="products-sale-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    },
                                    "1600": {
                                        "items":6,
                                        "nav": true
                                    }
                                }
                            }'>
                            @foreach(var product in Model)
                            {
                            <div class="product product-11 text-center">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img style="height:250px" src="~/Uploads/ProductPictures/@product.pictureLocationName" alt="Product image" class="product-image">
                                            @* <img src="~/assets/images/ProductPictures/@product.pictureLocationName" alt="Product image" class="product-image-hover"> *@
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->

                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="product.html">@product.Name</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                           @product.Price
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                            </div><!-- End .product -->
                            }
                          
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane --> 
}
else{
    <div class="text-center tab-pane p-0 fade" id="products-sale-tab" role="tabpanel" aria-labelledby="products-sale-link">
        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
            data-owl-options='{
                "nav": false, 
                "dots": true,
                "margin": 20,
                "loop": false,
                "responsive": {
                    "0": {
                        "items":2
                    },
                    "480": {
                        "items":2
                    },
                    "768": {
                        "items":3
                    },
                    "992": {
                        "items":4
                    },
                    "1200": {
                        "items":5
                    },
                    "1600": {
                        "items":6,
                        "nav": true
                    }
                }
            }'>
               <h2 style="color:#A6C76C;">There is no products on sale!</h2>
        </div><!-- End .owl-carousel -->
    </div><!-- .End .tab-pane -->
}
  