@model List<WEB.ViewModels.CountryCreateViewModel>
@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-primary" href="/dashboard/Country/Create" style="margin-left:20px;margin-top:5px">Create country now</a>
<div class="card-body">
            <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Country Name</th>
                      <th>Update</th>
                      <th style="width: 40px">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach(var item in Model)
                    {
                         <tr>
                            <td>@item.Name</td>
                            <td>
                                <div class="btn btn-primary">
                                <a href="/dashboard/Country/Update?id=@item.Id" style="width: 50%;color:white">Update</a>
                                </div>
                            </td>
                            <td>
                                <div class="btn btn-danger">
                                <a href="/dashboard/Country/Remove?id=@item.Id" style="width: 50%;color:white">Remove</a>
                                </div>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>