@model WEB.ViewModels.CountryRemoveViewModel
@{
    ViewData["Title"] = "Remove country";
}

     <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Are you sure you want to Remove this item?</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="Remove" asp-controller="Country">
                <div class="card-body">
                  <div class="form-group">
                    <label>Country Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" readonly>
                  </div>
                    <input value="@Context.Request.Query["id"]" asp-for="Id" name="Id" type="hidden" class="form-control">
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Remove Country</button>
                </div>
              </form>
        </div>
            <!-- /.card -->

            