@model WEB.ViewModels.CountryUpdateViewModel;
@{
    ViewData["Title"] = "Update Country";
}
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Update your country</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="Update" asp-controller="Country">
                <div class="card-body">
                  <div class="form-group">
                    <label>Enter country new Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1">
                  </div>
                  <div class="form-group">
                    <label>Retype your country new Name</label>
                    <input asp-for="ConfirmName" type="text" class="form-control" id="exampleInputPassword1">
                  </div>
                    <input value="@Context.Request.Query["id"]" asp-for="Id" name="Id" type="hidden" class="form-control">
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Update Country</button>
                </div>
              </form>
        </div>
            <!-- /.card -->

            