@model WEB.ViewModels.CityCreateViewModel
@using WEB.Interfaces;
@inject ICountryService countryService
@{
    ViewData["Title"] = "Create City";
}

<form method="post" asp-action="Create" asp-controller="Cities" asp-area="dashboard">
    <div class="card-body">
        <div class="form-group">
        <label asp-for="Name">Enter city name</label>
        <input asp-for="Name" type="text" class="form-control" id="exampleInputEmail1" placeholder="">
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <partial name="_SelectCountryPartial" model="@countryService.GetAllCountries().ToList()"></partial>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Create city</button>
    </div>
</form>